* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .delete-img {
      width: 20px;
      margin-left: 265px;
      margin-top: -5px;
      /* position: relative; */
  }

  .add-img {
    width: 45px;
    margin-right: 25px;
}

body {
    background: #f6f6f6;
    min-height: 100%;
    overflow: auto;
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

h1 {
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
    width: 100%;
    font-size: 25px;
    font-weight: 400;
}

.header {
    background-color: #edc988;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
}

.footer {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 12px;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    /* height: 1.5rem; */
    background-color: #edc988;
    position:fixed;
    bottom: 0;
    /* left:0; */
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
}

.note {
    margin-top: 50px;
    margin-left: 50px;
    width: 300px;
    height: 250px;
    background-color: #f8efd4;
    border-radius: 20% 20% 0 20%;
    
    /* position: absolute;
    z-index: 9; */
}

.note-title {
    font-size: 1rem;
    text-align: left;
    margin-top: 10px;
    align-content: center;
}

input {
    border: 0;
    background-color: transparent;
    padding-top: 30px;
    border-bottom: 1px solid #a6a6a4;
    font-family: 'Noto Sans JP', sans-serif;
    display: block;
    margin : 0 auto;
    outline: none;
    width: 75%;
}

textarea {
    resize: none;
    width: 75%;
    height: 150px;
    display: block;
    padding-top: 10px;
    /* padding-left: 10px; */
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    /* background: transparent; */
    background: #f8efd4;
    font-family: 'Noto Sans JP', sans-serif;
    outline: none;

 }

 /* .note-move {
    cursor: move;
    z-index: 10;
 } */